<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SLM Assistant{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>SLM Assistant</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('setup') }}">Setup</a></li>
            <li><a href="{{ url_for('base_pattern') }}">Base Pattern</a></li>
            <li><a href="{{ url_for('additional_pattern') }}">Additional Patterns</a></li>
        </ul>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Vincent Costa</p>
    </footer>
</body>
</html>