{% extends 'base.html' %}

{% block title %}Base Pattern Hub - SLM Assistant{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="{{ url_for('base_pattern') }}">Base Pattern Hub</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('manual') }}">Manual Input</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('lattice_box') }}">Lattice Box</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('grid') }}">Grid</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('canvas') }}">Canvas</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('feedback') }}">Feedback</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('targets') }}">Plot Targets</a></li>
    </ul>
</div>

<div class="container-fluid p-2">
    <div class="row">
        <div class="col-sm-4">
            <h5 class="ms-2">Calibration (Camera to k-space)</h5>
            <table class="table table-bordered text-center">
                <tr>
                    <td>{{ A[0][0] }}</td>
                    <td>{{ A[0][1] }}</td>
                    <td>{{ b[0] }}</td>
                </tr>
                <tr>
                    <td>{{ A[1][0] }}</td>
                    <td>{{ A[1][1] }}</td>
                    <td>{{ b[1] }}</td>
                </tr>
            </table>
            <h5 class="ms-2">Upload Base Pattern</h5>
            <form action="{{ url_for('use_pattern') }}" method="POST">
                <div class="input-group mb-2">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="fname" name="fname" placeholder="File Name">
                        <label for="fname">File Name</label>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Upload Base Pattern</button>
                </div>
            </form>
            <form class="mt-3" action="{{ url_for('reset_pattern') }}" method="POST">
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-primary">Reset Base Pattern</button>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <h5 class="invisible">Nothing</h5>
            <table class="table table-bordered table-hover text-center">
                <thead class="align-middle">
                    <tr>
                        <th>Working Directory</th>
                        <th>Computational Space</th>
                        <th> Default # of Iterations</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr>
                        <td>{{ directory }}</td>
                        <td>{{ computational_space }}</td>
                        <td>{{ n_iterations }}</td>
                    </tr>
                </tbody>
            </table>
            {% if base_load_history %}
            <h5>History of Loaded Base Patterns</h5>
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Date and Time</th>
                    </tr>
                </thead>
                {% for entry in base_load_history %}
                <tbody>
                    <tr>
                        <td>{{ entry.fname }}</td>
                        <td>{{ entry.upload_time }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="{{ url_for('static', filename='images/slmplane.png') }}" class="img-fluid" alt="Nearfield Plot">
            <img src="{{ url_for('static', filename='images/farfield.png') }}" class="img-fluid" alt="Farfield Plot">
        </div>
        <div class="col-6">
            <img src="{{ url_for('static', filename='images/stats.png') }}" class="img-fluid" alt="Statistics Plot">
        </div>
    </div>
</div>
{% endblock %}