{% extends 'base.html' %}

{% block title %}Base Pattern - SLM Assistant{% endblock %}

{% block content %}
    <h1>Base Pattern</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('calculate') }}">Calculate: Input Coordinates</a></li>
            <li><a href="{{ url_for('calculate_grid') }}">Calculate: Grid</a></li>
        </ul>
    </nav>

    <h2>Load Base Pattern from File</h2>

    <form action="{{ url_for('use_pattern') }}" method="POST" enctype="multipart/form-data">
        <label for="fname">File Name:</label>
        <input type="file" id="fname" name="fname"><br><br>
        <input type="submit" value="Upload">
    </form>

    <h2>Reset Base Phase Patterns</h2>
    <form action="{{ url_for('reset_pattern') }}" method="POST">
        <input type="submit" value="Reset Base Pattern">
    </form>

    <h2>History of Loaded Base Patterns</h2>
    {% if base_load_history %}
        
        <table>
            <tr>
                <th>File Name</th>
                <th>Date and Time</th>
            </tr>
            {% for entry in base_load_history %}
                <tr>
                    <td>{{ entry.fname }}</td>
                    <td>{{ entry.upload_time }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}