{% extends "base.html" %}

{% block title %}Manual Input - SLM Assistant{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('base_pattern') }}">Base Pattern Hub</a></li>
        <li class="nav-item"><a class="nav-link active" href="{{ url_for('calculate') }}">Manual Input</a></li>
        <li class="nav-item"><a class="nav-link text-body disabled" href="{{ url_for('calculate_grid') }}">Grid</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('canvas') }}">Canvas</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('targets') }}">Plot Targets</a></li>
    </ul>
</div>

<script>
    function addPoint() {
        var container = document.getElementById("coordinates-container");
        var pointDiv = document.createElement("div");
        pointDiv.className = "input-group p-2";
        pointDiv.innerHTML = `
            <input type="number" name="x_coords" class="form-control" placeholder="x" required>
            <input type="number" name="y_coords" class="form-control" placeholder="y" required>
            <input type="number" name="amplitudes" class="form-control" placeholder="amplitude" step="any" required>
            <button type="button" class="btn btn-outline-danger" onclick="removePoint(this)">Remove</button>
        `;
        container.appendChild(pointDiv);
    }

    function removePoint(button) {
        var pointDiv = button.parentElement;
        pointDiv.remove();
    }
</script>

<form method="POST">
    <div id="coordinates-container">
        <div class="input-group p-2">
            <input type="number" name="x_coords" class="form-control" placeholder="x" required>
            <input type="number" name="y_coords" class="form-control" placeholder="y" required>
            <input type="number" name="amplitudes" class="form-control" placeholder="amplitude" step="any" required>
            <button type="button" class="btn btn-outline-secondary" onclick="addPoint()">Add Point</button>
        </div>
    </div>

    <div class="row p-2">
        <div class="col">
            <input class="form-control" type="number" id="iteration_number" name="iteration_number" placeholder="# of Iterations">
        </div>
        <div class="col">
            <div class="col">
                <input class="form-control" type="text" id="save_name" name="save_name" placeholder="Save Name" required>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Initial Guess</span>
            <input class="form-control" type="text" id="guess_name" name="guess_name" placeholder="Initial Guess">
        </div>
    </div>
    <div class="form-check form-switch m-2">
        <input class="form-check-input" type="checkbox" id="camera" name="camera" value="yes">
        <label class="form-check-label" for="camera">Camera Pixel Coordinates</label>
    </div>
    <input type="hidden" name="camera" value="no">
    <button type="submit" class="btn btn-outline-primary m-2">Start Calculation</button>
</form>
<div class="row">
    <div class="col-6">
        <img src="{{ url_for('static', filename='images/slmplane.png') }}" class="img-fluid" alt="Nearfield Plot">
        <img src="{{ url_for('static', filename='images/farfield.png') }}" class="img-fluid" alt="Farfield Plot">
    </div>
    <div class="col-6">
        <img src="{{ url_for('static', filename='images/stats.png') }}" class="img-fluid" alt="Statistics Plot">
    </div>
</div>
{% endblock %}