{% extends "base_pattern.html" %}

{% block get_base %}
<h2>Calculate: Grid</h2>

<div class="input-container">
    <label for="iteration_number">Number of Iterations:</label>
    <input type="number" id="iteration_number" name="iteration_number">
</div>
<div class="input-container">
    <label for="guess_path">Initial Guess File Path:</label>
    <input type="text" id="guess_path" name="guess_path">
</div>
<div class="input-container">
    <label for="save_path">Save File Path:</label>
    <input type="text" id="save_path" name="save_path">
</div>
<div class="input-container">
    <label for="save_name">Save Name:</label>
    <input type="text" id="save_name" name="save_name">
</div>
    
<canvas id="canvas" width="960" height="960"></canvas>
<div class="button-container">
    <button onclick="submitPoints()">Start Calculation</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>

<script>
    var canvas = new fabric.Canvas('canvas');
    var xCoords = [];
    var yCoords = [];

    // Create grid of pixels
    var numPixels = 64; // Adjust number of pixels as needed
    var pixelSize = canvas.width / numPixels;

    for (var i = 0; i < numPixels; i++) {
        for (var j = 0; j < numPixels; j++) {
            var pixel = new fabric.Rect({
                left: i * pixelSize,
                top: j * pixelSize,
                width: pixelSize,
                height: pixelSize,
                fill: 'white',
                stroke: '#ccc',
                strokeWidth: 1,
                selectable: false,
                hasControls: false,
                hasBorders: false,
                hoverCursor: 'pointer'
            });

            pixel.set('data-x', i);
            pixel.set('data-y', j);

            canvas.add(pixel);

            pixel.on('mousedown', function(options) {
                var x = this.get('data-x');
                var y = this.get('data-y');
                var index = xCoords.indexOf(x); // Check if x already exists

                if (index === -1) {
                    // If x does not exist, add new point
                    xCoords.push(x);
                    yCoords.push(y);
                    this.set('fill', 'red');
                } else {
                    // If x exists, remove the point
                    xCoords.splice(index, 1);
                    yCoords.splice(index, 1);
                    this.set('fill', 'white');
                }
                console.log('xCoords:', xCoords);
                console.log('yCoords:', yCoords);
                canvas.renderAll();
            });
        }
    }


function submitPoints() {

    var iteration_number = document.getElementById('iteration_number').value;
    var guess_path = document.getElementById('guess_path').value;
    var save_path = document.getElementById('save_path').value;
    var save_name = document.getElementById('save_name').value;

    // Prepare data to send
    var data = {
            xCoords: xCoords,
            yCoords: yCoords,
            iteration_number: iteration_number,
            guess_path: guess_path,
            save_path: save_path,
            save_name: save_name
        };

    // Send points to backend via AJAX
    fetch('{{ url_for('calculate_grid') }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json' // Set Content-Type header
        },
        body: JSON.stringify(data) // Convert data to JSON format
    })
    .then(response => response.json())
    .then(data => {
        console.log('Points submitted:', data);
        alert('Points submitted successfully!');
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Error submitting points.');
    });
}
</script>
{% endblock %}

