{% extends "base.html" %}

{% block title %}Manual Input - SLM Assistant{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('base_pattern') }}">Base Pattern Hub</a></li>
        <li class="nav-item"><a class="nav-link active" href="{{ url_for('calculate') }}">Manual Input</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('lattice_box') }}">Lattice Box</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('grid') }}">Grid</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('canvas') }}">Canvas</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('feedback') }}">Feedback</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('targets') }}">Plot Targets</a></li>
    </ul>
</div>

<div class="p-3">
    <img src="{{ url_for('static', filename='images/target.png') }}" class="img-fluid rounded" alt="Hologram Target">
</div>

<!--
<script>
    function addPoint() {
        var container = document.getElementById("coordinates-container");
        var pointDiv = document.createElement("div");
        var listElement = document.createElement("li");
        pointDiv.className = "input-group ps-2";
        pointDiv.innerHTML = `
            <input type="number" name="x_coords" class="form-control" placeholder="x" required>
            <input type="number" name="y_coords" class="form-control" placeholder="y" required>
            <input type="number" name="amplitudes" class="form-control" placeholder="amplitude" step="any" required>
            <button type="button" class="btn btn-outline-danger" onclick="removePoint(this)">Remove</button>
        `;
        listElement.className = "list-group-item d-flex justify-content-between align-items-center";
        listElement.appendChild(pointDiv);
        container.appendChild(listElement);
    }

    function removePoint(button) {
        var pointDiv = button.parentElement;
        var listElement = pointDiv.parentElement;
        listElement.remove();
    }
</script>

<div class="container-fluid p-2">
    <h5>Target Coordinates</h5>
    <form method="POST">
        <div class="mb-2" id="coordinates-container-backup">
            <ul class="list-group list-group-flush list-group-numbered borderless" id="coordinates-container">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="input-group ps-2">
                        <input type="number" name="x_coords" class="form-control" placeholder="x" required>
                        <input type="number" name="y_coords" class="form-control" placeholder="y" required>
                        <input type="number" name="amplitudes" class="form-control" placeholder="amplitude" step="any" required>
                        <button type="button" class="btn btn-outline-danger" onclick="removePoint(this)">Remove</button>
                    </div>
                </li>
            </ul>
        </div>
    
        <div class="text-end mb-3">
            <button type="button" class="btn btn-outline-secondary" onclick="addPoint()">Add Point</button>
        </div>
    -->
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="number" id="iteration_number" name="iteration_number" placeholder="# of Iterations">
                    <label for="iteration_number"># of Iterations</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="text" id="save_name" name="save_name" placeholder="Save Name" required>
                    <label for="save_name">Save Name</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="text" id="guess_name" name="guess_name" placeholder="Initial Guess Name">
                    <label for="guess_name">Initial Guess</label>
                </div>
            </div>
        </div>
        <!--
        <div class="form-check form-switch mt-3">
            <input class="form-check-input" type="checkbox" id="camera" name="camera" value="yes">
            <label class="form-check-label" for="camera">Camera Pixel Coordinates</label>
        </div>
        <input type="hidden" name="camera" value="no">
        -->
        <button class="btn btn-outline-primary m-2" type="button" onclick="submitPoints()">Submit Points</button>
        
        <div class="progress" role="progressbar">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar" style="width: 0%"></div>
        </div>
    </form>
    <img src="{{ url_for('static', filename='images/slmplane.png') }}" class="img-fluid" alt="Nearfield Plot">
    <img src="{{ url_for('static', filename='images/farfield.png') }}" class="img-fluid" alt="Farfield Plot">
    <img src="{{ url_for('static', filename='images/stats.png') }}" class="img-fluid" alt="Statistics Plot">
</div>

<script>
    var socket = io();
    socket.on('progress', function(data) {
        var progressBar = document.getElementById('progress-bar');
        progressBar.style.width = data.progress + '%';
        progressBar.innerHTML = data.progress.toFixed(2) + '%';
        console.log('Received progress');  // Debug statement
    });

    socket.on('connect', function() {
        console.log('Connected to server');  // Debug statement
    });
</script>

<script>
    // Submit points to the server
    function submitPoints() {

        iteration_number = document.getElementById('iteration_number').value;
        guess_name = document.getElementById('guess_name').value;
        save_name = document.getElementById('save_name').value;
        //camera = document.getElementById('camera').value;

        fetch('/calculate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({iteration_number, guess_name, save_name}),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

</script>
<!--
<div class="row">
    <div class="col-6">
        <img src="{{ url_for('static', filename='images/slmplane.png') }}" class="img-fluid" alt="Nearfield Plot">
        <img src="{{ url_for('static', filename='images/farfield.png') }}" class="img-fluid" alt="Farfield Plot">
    </div>
    <div class="col-6">
        <img src="{{ url_for('static', filename='images/stats.png') }}" class="img-fluid" alt="Statistics Plot">
    </div>
</div>
-->
{% endblock %}