{% extends "base.html" %}

{% block title %}Manual Input - SLM Assistant{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('base_pattern') }}">Base Pattern Hub</a></li>
        <li class="nav-item"><a class="nav-link active" href="{{ url_for('calculate') }}">Manual Input</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('grid') }}">Grid</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('canvas') }}">Canvas</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('targets') }}">Plot Targets</a></li>
    </ul>
</div>

<script>
    function addPoint() {
        var container = document.getElementById("coordinates-container");
        var pointDiv = document.createElement("div");
        pointDiv.className = "input-group p-2";
        pointDiv.innerHTML = `
            <input type="number" name="x_coords" class="form-control" placeholder="x" required>
            <input type="number" name="y_coords" class="form-control" placeholder="y" required>
            <input type="number" name="amplitudes" class="form-control" placeholder="amplitude" step="any" required>
            <button type="button" class="btn btn-outline-danger" onclick="removePoint(this)">Remove</button>
        `;
        container.appendChild(pointDiv);
    }

    function removePoint(button) {
        var pointDiv = button.parentElement;
        pointDiv.remove();
    }
</script>

<div class="container-fluid p-2">
    <form method="POST">
        <div class="mb-2" id="coordinates-container">
            <div class="input-group">
                <input type="number" name="x_coords" class="form-control" placeholder="x" required>
                <input type="number" name="y_coords" class="form-control" placeholder="y" required>
                <input type="number" name="amplitudes" class="form-control" placeholder="amplitude" step="any" required>
            </div>
        </div>
    
        <div class="text-end mb-3">
            <button type="button" class="btn btn-outline-secondary" onclick="addPoint()">Add Point</button>
        </div>
    
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="number" id="iteration_number" name="iteration_number" placeholder="# of Iterations">
                    <label for="iteration_number"># of Iterations</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="text" id="save_name" name="save_name" placeholder="Save Name" required>
                    <label for="save_name">Save Name</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="text" id="guess_name" name="guess_name" placeholder="Initial Guess Name">
                    <label for="guess_name">Initial Guess</label>
                </div>
            </div>
        </div>

        <div class="form-check form-switch mt-3">
            <input class="form-check-input" type="checkbox" id="camera" name="camera" value="yes">
            <label class="form-check-label" for="camera">Camera Pixel Coordinates</label>
        </div>
        <input type="hidden" name="camera" value="no">
        <button type="submit" class="btn btn-outline-primary mt-1">Start Calculation</button>
    </form>
</div>

<!--
<div class="row">
    <div class="col-6">
        <img src="{{ url_for('static', filename='images/slmplane.png') }}" class="img-fluid" alt="Nearfield Plot">
        <img src="{{ url_for('static', filename='images/farfield.png') }}" class="img-fluid" alt="Farfield Plot">
    </div>
    <div class="col-6">
        <img src="{{ url_for('static', filename='images/stats.png') }}" class="img-fluid" alt="Statistics Plot">
    </div>
</div>
-->
{% endblock %}