{% extends 'base.html' %}

{% block title %}Corrections - SLM Assistant{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('base_pattern') }}">Additional Hub</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('input_additional') }}">Input</a></li>
        <li class="nav-item"><a class="nav-link active" href="{{ url_for('correction') }}">Manufacturer Correction</a></li>
    </ul>
</div>


<div class="container-fluid p-2">
    <form method="POST">
        <div class="input-group mb-2">
            <input class="form-control" type="text" id="fname" name="fname">
            <button type="submit" class="btn btn-outline-primary">Upload Correction</button>
        </div>
    </form>
</div>
{% endblock %}