{% extends 'base.html' %}

{% block title %}Dashboard - SLM Assistant{% endblock %}

{% block content %}

<div class="container-fluid p-2">
    <div class="row">
        <div class="col">
            <h5 class="text-left text-dark ms-2">Phase Info</h5>
            
            <table class="table table-bordered table-hover">
                <tr class="align-middle">
                    <th>Base</th>
                </tr>
                {% if phase_info[0] %}
                <tbody class="table-grou-divider">
                    <tr class="align-middle">
                        <td>{{ phase_info[0] }}</td>
                    </tr>
                </tbody>
                {% endif %}

                <tr class="align-middle">
                    <th>Additional</th>
                </tr>
                
                {% if phase_info[1] %}
                {% for entry in phase_info[1] %}
                <tr class="align-middle">
                    <td>{{ entry }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                
                <tr class="align-middle">
                    <th>Aperture</th>
                </tr>
                {% if phase_info[2] and phase_info[2] != "None" %}
                <tr class="align-middle">
                    <td>{{ phase_info[2] }}</td>
                </tr>
                {% endif %}
            </table>
            
            {% if phase_info %}
            <div class="p-3">
                <img src="{{ url_for('static', filename='images/total-phase.png') }}" class="img-fluid rounded" alt="Hologram Target">
            </div>
            {% endif %}

            {% if phase_info[0] %}
            
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

            <div id="plot_container">
                <div id="plot"></div>
            </div>
            
            <script>
                function resizePlot() {
                    const plotDiv = document.getElementById('plot');
                    const width = plotDiv.clientWidth;
                    plotDiv.style.height = width + 'px';
                }

                window.addEventListener('resize', resizePlot);
                window.addEventListener('load', () => {
                    resizePlot();

                    fetch('/display_targets_dashboard')
                        .then(response => response.json())
                        .then(data => {
                            const trace = {
                                x: data.x,
                                y: data.y,
                                mode: 'markers+text',
                                type: 'scatter',
                                text: data.labels, // Add text labels
                                textposition: 'top center'
                            };
                            const layout = {
                                title: 'Target of Loaded Base Phase',
                                xaxis: { title: 'k-x' },
                                yaxis: { title: 'k-y' },
                                autosize: true
                            };
                            Plotly.newPlot('plot', [trace], layout);
                        })
                        .catch(error => console.error('Error fetching data:', error));
                    });
            </script>
            
            {% endif %}
        </div>

        <div class="col-sm-6">
            {% if slm_settings and not slm_settings['display_num'] == 'virtual' %}
                <form action="{{ url_for('project') }}" method="POST">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-outline-primary">Project</button>
                    </div>
                </form>
            
            <div class="p-3">
                <img src="{{ url_for('static', filename='images/slm_screenshot.png') }}" class="img-fluid rounded" alt="Screenshot of the SLM">
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}