{% extends 'additional_pattern.html' %}

{% block get_additional %}
    <h2>Input Additional Patterns</h2>

    <h3>Fresnel Lens</h3>
    <form action="{{ url_for('add_fresnel_lens') }}" method="POST">
        <label for="focal_length">Focal Length:</label>
        <input type="text" id="focal_length" name="focal_length"><br><br>
        <button type="submit">Add Fresnel Lens</button>
    </form>

    <h3>Offset</h3>
    <form action="{{ url_for('add_offset') }}" method="POST">
        <label for="offset_x">X:</label>
        <input type="number" id="offset_x" name="offset_x" required><br><br>
        <label for="offset_x">Y:</label>
        <input type="number" id="offset_y" name="offset_y" required><br><br>
        <button type="submit">Add Offset</button>
    </form>

    <h3>Zernike Polynomials</h3>
    <h3>Enter Zernike Polynomial Coefficients</h3>
    <form action="{{ url_for('add_zernike_poly') }}" method="post">
        <div id="zernike-inputs">
            <div class="form-group">
                <label for="n0">n:</label>
                <input type="number" id="n0" name="n0" required>
                <label for="m0">m:</label>
                <input type="number" id="m0" name="m0" required>
                <label for="weight0">Weight:</label>
                <input type="number" id="weight0" name="weight0" step="any" required>
            </div>
        </div>
        <button type="button" onclick="addZernikeInput()">Add Another Polynomial</button>
        <br>
        <button type="submit" class="button">Add Zernike Polynomials</button>
    </form>

    <h3>Aperture</h3>
    <form action="{{ url_for('use_aperture') }}" method="POST">
        <label for="aperture_size">Aperture Size:</label>
        <input type="number" id="aperture_size" name="aperture_size" required><br><br>
        <button type="submit">Add Aperture</button>
    </form>

    <script>
        let inputCount = 1;

        function addZernikeInput() {
            const container = document.getElementById('zernike-inputs');
            const div = document.createElement('div');
            div.className = 'form-group';
            div.innerHTML = `
                <label for="n${inputCount}">n:</label>
                <input type="number" id="n${inputCount}" name="n${inputCount}" required>
                <label for="m${inputCount}">m:</label>
                <input type="number" id="m${inputCount}" name="m${inputCount}" required>
                <label for="weight${inputCount}">Weight:</label>
                <input type="number" id="weight${inputCount}" name="weight${inputCount}" step="any" required>
            `;
            container.appendChild(div);
            inputCount++;
        }
    </script>
{% endblock %}