{% extends "base.html" %}

{% block title %}Lattice Box - SLM Assistant{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('manual') }}">Manual Input</a></li>
        <li class="nav-item"><a class="nav-link text-body active" href="{{ url_for('lattice_box') }}">Lattice</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('grid') }}">Grid</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('canvas') }}">Canvas</a></li>
    </ul>
</div>

<div class="container-fluid p-2">
    <form method="POST">
        <div class="form-group mb-2">
            <div class="row mb-2">
                <div class="col">
                    <h5>Lattice Vector 1</h5>
                    <input type="number" id="lv11" name="lv11" class="form-control" step="any" placeholder="LV1 X">
                </div>
                <div class="col">
                    <h5>Lattice Vector 2</h5>
                    <input type="number" id="lv12" name="lv12" class="form-control" step="any" placeholder="LV2 X">
                </div>
                <div class="col">
                    <h5>Box Offset (bottom left corner)</h5>
                    <input type="number" id="offset_x" name="offset_x" class="form-control" step="any" placeholder="offset x">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <input type="number" id="lv21" name="lv21" class="form-control" step="any" placeholder="LV1 Y">
                </div>
                <div class="col">
                    <input type="number" id="lv22" name="lv22" class="form-control" step="any" placeholder="LV2 Y">
                </div>
                <div class="col">
                    <input type="number" id="offset_y" name="offset_y" class="form-control" step="any" placeholder="offset y"> 
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <h5>Box Size</h5>
                    <div class="input-group">
                        <input type="number" id="width" name="width" class="form-control" placeholder="Width" step="any">
                        <input type="number" id="height" name="height" class="form-control" placeholder="Height" step="any">
                    </div>
                </div>
                <div class="col">
                    <h5>Start Pixel (in box)</h5>
                    <div class="input-group">
                        <input type="number" id="center_x" name="center_x" class="form-control" placeholder="center x" step="any">
                        <input type="number" id="center_y" name="center_y" class="form-control" placeholder="center y" step="any"> 
                    </div>
                </div>
                <div class="col">
                    <h5>Edge Buffer</h5>
                    <div class="input-group">
                        <input type="number" id="edge_buffer" name="edge_buffer" class="form-control" placeholder="edge buffer" step="any">
                    </div>
                </div>
            </div>
        </div>
        
       
        <select class="form-select mb-2" name="coord_type">
            <option id="coord_type">Coordinate Type</option>
            <option id="k-space" value="k-space">SLM k-space</option>
            <option id="andor" value="andor">Andor Camera</option>
        </select>

        <button type="submit" class="btn btn-outline-primary mt-1">Create Hologram</button>
    </form>
</div>
{% endblock %}