{% extends "base.html" %}

{% block title %}Lattice Box - SLM Assistant{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('base_pattern') }}">Base Pattern Hub</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('calculate') }}">Manual Input</a></li>
        <li class="nav-item"><a class="nav-link active" href="{{ url_for('lattice_box') }}">Lattice Box</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('grid') }}">Grid</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('canvas') }}">Canvas</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('feedback') }}">Feedback</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('targets') }}">Plot Targets</a></li>
    </ul>
</div>

<div class="container-fluid p-2">
    <form method="POST">
        <div class="form-group mb-2">
            <div class="row mb-2">
                <div class="col">
                    <h5>Lattice Vector 1</h5>
                    <input type="number" id="lv11" name="lv11" class="form-control" step="any" placeholder="LV1 X">
                </div>
                <div class="col">
                    <h5>Lattice Vector 2</h5>
                    <input type="number" id="lv12" name="lv12" class="form-control" step="any" placeholder="LV2 X">
                </div>
                <div class="col">
                    <h5>Offset</h5>
                    <input type="number" id="offset_x" name="offset_x" class="form-control" step="any" placeholder="offset x">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="number" id="lv21" name="lv21" class="form-control" step="any" placeholder="LV1 Y">
                </div>
                <div class="col">
                    <input type="number" id="lv22" name="lv22" class="form-control" step="any" placeholder="LV2 Y">
                </div>
                <div class="col">
                    <input type="number" id="offset_y" name="offset_y" class="form-control" step="any" placeholder="offset y"> 
                </div>
            </div>
        </div>

        <div class="input-group">
            <span class="input-group-text" for="width">Image Shape</span>
            <input type="number" id="width" name="width" class="form-control" placeholder="Width" step="any">
            <input type="number" id="height" name="height" class="form-control" placeholder="Height" step="any"> 

            <span class="input-group-text" for="center_x">Center Pixel</span>
            <input type="number" id="center_x" name="center_x" class="form-control" placeholder="center x" step="any">
            <input type="number" id="center_y" name="center_y" class="form-control" placeholder="center y" step="any"> 

            <span class="input-group-text" for="edge_buffer">Edge Buffer</span>
            <input type="number" id="edge_buffer" name="edge_buffer" class="form-control" placeholder="edge buffer" step="any">
        </div>

        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="number" id="iteration_number" name="iteration_number" placeholder="# of Iterations">
                    <label for="iteration_number"># of Iterations</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="text" id="save_name" name="save_name" placeholder="Save Name" required>
                    <label for="save_name">Save Name</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="text" id="guess_name" name="guess_name" placeholder="Initial Guess Name">
                    <label for="guess_name">Initial Guess</label>
                </div>
            </div>
        </div>

        <div class="form-check form-switch mt-3">
            <input class="form-check-input" type="checkbox" id="camera" name="camera" value="yes">
            <label class="form-check-label" for="camera">Camera Pixel Coordinates</label>
        </div>
        <input type="hidden" name="camera" value="no">
        <button type="submit" class="btn btn-outline-primary mt-1">Start Calculation</button>
    </form>
</div>
{% endblock %}