{% extends "base.html" %}

{% block title %}Load Config{% endblock %}

{% block content %}
    <h1>Load Config</h1>
    <form method="POST">
        <label for="fname">File Path:</label>
        <input type="text" id="fname" name="fname" required><br><br>
        <button type="submit">Submit</button>
    </form>

    {% if config_load_history %}
        <h2>History of Loaded Config Paths</h2>
        <table>
            <tr>
                <th>File Path</th>
                <th>Date and Time</th>
            </tr>
            {% for entry in config_load_history %}
                <tr>
                    <td>{{ entry.fname }}</td>
                    <td>{{ entry.upload_time }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}