{% extends "base.html" %}

{% block title %}Setup Camera{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_slm') }}">Setup SLM</a></li>
        <li class="nav-item"><a class="nav-link active" href="{{ url_for('setup_camera') }}">Setup Camera</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_calculation') }}">Setup Calculation</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_slm_amp') }}">Setup SLM Amplitude</a></li>
    </ul>
</div>

<div class="container-fluid p-2">
    <h5 class="ms-2">Camera Settings</h5>
    <form method="POST">
        <div class="input-group">
            
            <select class="form-select" aria-label="Default select example" name="camera_type">
                <option id="camera_type">Camera Type</option>
                <option id="thorlabs" value="thorlabs">Thorlabs</option>
            </select>
            
            <div class="form-floating">
                <input type="text" id="serial_num" name="serial_num" class="form-control" placeholder="Serial Number">
                <label for="serial_num">Serial Number</label>
            </div>
            <select class="form-select" aria-label="Default select example" name="fliplr">
                <option id="fliplr">Fliplr</option>
                <option id="true" value="True">True</option>
                <option id="false" value="False">False</option>
            </select>

            <button type="submit" class="btn btn-outline-primary">Submit Camera Setttings</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{ url_for('setup_virtual_camera') }}">Virtual Camera</a></li>
            </ul>
        </div>
    </form>
</div>

{% endblock %}

