{% extends "base.html" %}

{% block title %}Setup Camera - SLM Assistant{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_calculation') }}">Calculation Settings</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_calibration') }}">Manual Calibration</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_slm') }}">Connect to SLM</a></li>
        <li class="nav-item"><a class="nav-link text-body active" href="{{ url_for('setup_camera') }}">Connect to Camera</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_iface') }}">Interface</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_slm_amp') }}">SLM Amplitude</a></li>
    </ul>
</div>

<div class="container-fluid p-2">
    <h5 class="ms-2">Camera Settings</h5>
    <form method="POST">
        <div class="input-group">
            
            <select class="form-select" aria-label="Default select example" name="camera_type">
                <option id="camera_type">Camera Type</option>
                <option id="thorlabs" value="thorlabs">Thorlabs</option>
            </select>
            
            <div class="form-floating">
                <input type="text" id="serial_num" name="serial_num" class="form-control" placeholder="Serial Number" required>
                <label for="serial_num">Serial Number</label>
            </div>

            <select class="form-select" aria-label="Default select example" name="fliplr">
                <option id="fliplr">Fliplr</option>
                <option id="true" value="True">True</option>
                <option id="false" value="False">False</option>
            </select>

            <button type="submit" class="btn btn-outline-primary">Submit Camera Setttings</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{ url_for('setup_virtual_camera') }}">Virtual Camera</a></li>
            </ul>
        </div>
    </form>

    <table class="table table-bordered table-hover text-center mt-5">
        <thead>
            <tr class="align-middle">
                <th>Camera Type</th>
                <th>Serial Number</th>
                <th>Fliplr</th>
            </tr>
        </thead>
        {% if camera_list %}
        <tbody>
            {% for camera_settings in camera_list %}
            <tr class="align-middle">
                <td>{{ camera_settings['camera_type'] }}</td>
                <td>{{ camera_settings['serial_num'] }}</td>
                <td>{{ camera_settings['fliplr'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}