{% extends "base.html" %}

{% block title %}Setup Calculation - SLM Assistant{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-body active" href="{{ url_for('setup_calculation') }}">Calculation Settings</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_calibration') }}">Manual Calibration</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_slm') }}">Connect to SLM</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_camera') }}">Connect to Camera</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_iface') }}">Interface</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_slm_amp') }}">SLM Amplitude</a></li>
    </ul>
</div>

<div class="container-fluid mb-3 p-2">
    <h5 class="ms-2"> Default Calculation Settings</h5>
    <form method="POST">
        <div class="input-group mb-5">
            <div class="form-floating">
                <input type="number" id="computational_space" name="computational_space" class="form-control" placeholder="Size of Computational Space">
                <label for="computational_space">Size of Computational Space</label>
            </div>
            <div class="form-floating">
                <input type="number" id="n_iterations" name="n_iterations" class="form-control" placeholder="Default # of Iterations for GS">
                <label for="n_iterations">Default # of Iterations</label>
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit Default Calculation Settings</button>
        </div>
    </form>

    <table class="table table-bordered table-hover text-center">
        <thead class="align-middle">
            <tr>
                <th>Computational Space</th>
                <th> Default # of Iterations</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            <tr>
                <td>{{ computational_space }}</td>
                <td>{{ n_iterations }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}