{% extends "base.html" %}

{% block title %}Setup SLM - SLM Assistant{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="{{ url_for('setup_slm') }}">Setup SLM</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_calculation') }}">Setup Calculation</a></li>
        <li class="nav-item"><a class="nav-link text-body" href="{{ url_for('setup_slm_amp') }}">Setup SLM Amplitude</a></li>
    </ul>
</div>

<div class="container-fluid p-2">
    <h5>SLM Settings</h5>
    <form method="POST">
        <div class="input-group">
            <div class="form-floating">
                <input type="number" id="display_num" name="display_num" class="form-control" placeholder="Display Number">
                <label for="display_num">Display Number</label>
            </div>
            <div class="form-floating">
                <input type="number" id="bitdepth" name="bitdepth" class="form-control" placeholder="Bitdepth">
                <label for="bitdepth">Bitdepth</label>
            </div>
            <div class="form-floating">
                <input type="number" id="wav_design_um" name="wav_design_um" step="any" class="form-control" placeholder="Design Wavelength (um)">
                <label for="wav_design_um">Design Wavelength (um)</label>
            </div>
            <div class="form-floating">
                <input type="number" id="wav_um" name="wav_um" step="0.001" class="form-control" placeholder="Laser Wavelength (um)">
                <label for="wav_um">Laser Wavelength (um)</label>
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit SLM Setttings</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{ url_for('setup_virtual') }}">Virtual SLM</a></li>
            </ul>
        </div>
    </form>
</div>
{% endblock %}