{% extends "setup.html" %}

{% block setup %}
    <h1>Setup SLM</h1>
    <form method="POST">
        <label for="display_num">Display Number:</label>
        <input type="number" id="display_num" name="display_num">

        <label for="bitdepth">Bit Depth:</label>
        <input type="number" id="bitdepth" name="bitdepth">

        <label for="wav_design_um">Wave Design (um):</label>
        <input type="number" id="wav_design_um" name="wav_design_um" step="0.001">

        <label for="wav_um">Wave (um):</label>
        <input type="number" id="wav_um" name="wav_um" step="0.001">
        
        <button type="submit">Submit SLM Setttings</button>
    </form>
    <br>
    <h2>Setup Virtual SLM</h2>
    <form action="{{ url_for('setup_virtual') }}" method="POST">
        <input type="submit" value="Setup Virtual SLM">
    </form>
{% endblock %}