{% extends "setup.html" %}

{% block setup %}
    <h1>Setup Calculation Settings</h1>
    <form method="POST">
        <label for="pattern_path">File Path for Phase Patterns:</label>
        <input type="text" id="pattern_path" name="pattern_path">

        <label for="computational_space">Size of Computational Space:</label>
        <input type="number" id="computational_space" name="computational_space">

        <label for="n_iterations">Number of Iterations for GS algorithm:</label>
        <input type="number" id="n_iterations" name="n_iterations">
        
        <button type="submit">Submit Calculation Settings</button>
    </form>
{% endblock %}