{% extends 'base.html' %}

{% block title %}Plot Target - SLM Assistant{% endblock %}

{% block content %}

<div class="container-fluid p-2">
    <form method="POST">
        <div class="input-group mb-2">
            <div class="form-floating">
                <input class="form-control" type="text" id="fname" name="fname" placeholder="File Name">
                <label for="fname">File Name</label>
            </div>
            <button type="submit" class="btn btn-outline-primary">Plot Target</button>
        </div>
    </form>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <div id="plot_container">
            <div id="plot"></div>
        </div>
        
        <script>
                function resizePlot() {
                const plotDiv = document.getElementById('plot');
                const width = plotDiv.clientWidth;
                plotDiv.style.height = width + 'px';
            }

            window.addEventListener('resize', resizePlot);
            window.addEventListener('load', () => {
                resizePlot();

                fetch('/display_targets')
                    .then(response => response.json())
                    .then(data => {
                        const trace = {
                            x: data.x,
                            y: data.y,
                            mode: 'markers+text',
                            type: 'scatter',
                            text: data.labels, // Add text labels
                            textposition: 'top center'
                        };
                        const layout = {
                            title: 'Target Pattern',
                            xaxis: { title: 'k-x' },
                            yaxis: { title: 'k-y' },
                            autosize: true
                        };
                        Plotly.newPlot('plot', [trace], layout);
                    })
                    .catch(error => console.error('Error fetching data:', error));
                });
        </script>
</div>
{% endblock %}